*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header nav{
    background-color: darkblue;
    color:white;
    display: flex;
    flex-flow: column;
}

header nav .menu{
    position: absolute;
    right: 0;
    margin-right: .5rem;
}

header .logo, header .menu{
    width: 3rem;
    height: 3rem;
}

header ul{
    list-style: none;
    display: none;
    flex-flow: column;
}

header ul li{
    padding: 1rem;
}

header ul li:hover{
    background-color: white;
    color:darkblue;
}

.show{
    display: flex;
}


@media (min-width:800px) {
    header nav{
        flex-flow: row;
    }
    header ul{
        display: flex;
        flex-flow: row;
    }
    header nav .menu{
        display: none;
    }
}